[build]
  publish = "."
  command = "echo 'No build step required'"
  ignore = "git diff --quiet HEAD^ HEAD -- backend/ .env"

[[redirects]]
  from = "/api/*"
  to = "https://prairies-backend-production.up.railway.app/api/:splat"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
